@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #dddfd4;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    width: 50vw;
    min-width: 500px;
    min-height: 100vh;
    height: 100%;
    background: #3fb0ac;
    padding: 3rem;
}
#form{
    background: #3fb0ac;
    position: sticky;
    top:0;
    width: 100%;
    padding: 1rem 0 1rem 0;
}
#addFilmField{
    color: #333;
    background: #ccc;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.50rem 5rem 0.50rem 2rem;
    border: #173e43 solid 2px;
    border-radius: 50px;
    transition: background 0.5s ease-in-out;
}
#addFilmField:focus{
    outline: none; 
    background: #eee;
}
#form span{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #173e43;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    height: 3rem;
    width: 3rem;
    background: #3fb0ac;
    border: #173e43 solid 2px;
    border-radius: 50%;
    top: 16px;
    right: 0px;
    transition: transform 1s ease-in-out;
}
#form span:hover{
    transform: rotate(90deg)
}
#list{
    width: 100%;
}
#list li{
    color: #333;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #89bdd3;
    border-radius: 10px;
}

.fa-film{
    font-size: 2rem;
    margin: 1rem;
}
.title-wrap{
    width: 80%;
}
#list h1{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.info{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #ccc;
    margin-right: 50%;
    padding: 0.3rem;
    background: #173e43;
    border: #173e43 solid 2px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; 
}
.delete-btn{
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e62739;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

/*Delete Confirm*/

#delete-popup{
    color: #ccc;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(50, 50, 50, 0.9);
}
#delete-popup>div{
    padding: 3rem;
    text-align: center;
    background: #333;
    width:100%;
    border-top: #e62739 dashed 2px;
    border-bottom: #e62739 dashed 2px;
}
#delete-popup>div>h1{
    margin-bottom: 2rem;
}
.btn-del-confirm{
    cursor: pointer;
    background: #e62739;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;

}
.btn-abort{
    cursor: pointer;
    background: #3fb0ac;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
}

/*Info Box*/

.Info-box{
    display: none;
    padding: 1rem 0 ;
    width: 100%;
    border-top: #3fb0ac solid 2px;
}
.Info-box>div{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.Info-box img{
    height: 200px;
}

/*Database result display*/

#TMDb-search {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: rgba(100, 100, 100, 0.4);
    display: none;
}

.resultContainer{
    background:  rgba(80, 80, 80, 0.9);
    margin-bottom: 1rem;
    padding: 0 2rem;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;  
    min-height: 202px;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
}

.resultContainer>div{
    width: 100%;
}
#TMDb-search:first-child {
    margin-top: 4rem;
}
#TMDb-search h1{
    margin-left: 2rem;
    color: #fff;
    display: inline;
}
#TMDb-search h5{
    margin-left: 3rem;
    color: #aaa;
    display: inline;
}
#TMDb-search p{
    margin: 1rem 0.4rem; 
    color: #fff;
}

#TMDb-search img {
    height: 200px;
}
.add-btn{
    line-height: 0;
    font-size: 1rem;
    background: #3fb0ac;
    padding: 0.5rem;
    border-radius: 10px;
    display: inline;
    float: right;
    margin-top: 1rem;
}
.add-btn:hover{
    cursor: pointer;
}
.close{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(80, 80, 80, 0.9);
    color: #eee;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}
.close>span{
    margin: 0.5rem 1rem;
}
@media(max-width:500px){
    #main{
        padding: 0;
        width: 100vw;
        min-width: 0;
    }
    .resultContainer{
        padding: 0;
    }
    #list li{
        border-radius: 0;
    }
    #list h1{
        font-size: 1.5rem;
        margin-bottom: 0.5rem; 
    }
    .info{
        border-bottom-left-radius: 0; 
    }
    #TMDb-search h1{
        width: 80%;
        margin: 0;
        font-size: 1.5rem;
        color: #fff;
        display: inline;
    }
    #TMDb-search h5{
        margin:0;
    }
    .resultContainer>div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .add-btn{
        margin: 0;
    }
    #TMDb-search p{
        display: none;
    }

    .btn-del-confirm{
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .btn-abort{
        padding: 0.5rem;
        margin: 0.5rem;
    }
}